@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
    &[for="business"] {
        margin-right: 4px;
    }
    &[for="status"] {
        margin-right: 51px;
    }
    &[for="platform"] {
        margin-right: 18px;
    }
    &[for="periodStart"] {
        margin-right: 4px;
    }
    &[for="coin"] {
        margin-right: 41px;
    }
    &[for="customers"] {
        margin-right: 10px;
    }
    &[for="expiration"] {
        margin-right: 8px;
    }
}

.btn.dropdown-toggle.btn-light {
    padding: 0.1875rem 0.375rem;
}

select {
    min-width: 80px;
    max-width: 300px;
}

input[type="date"] {
    min-width: 130px;
    max-width: 320px;
}

.select2-container {
    min-width: 250px !important;
    max-width: 400px !important;
}

/* Using SCSS variables to store breakpoints */
$breakpoint-extra-large-screen: 1560px;
@media (min-width: $breakpoint-extra-large-screen) {
    // .select2-container {
    //     max-width: 508px !important;
    // }

    .w-xxxl-70 {
        width: 70% !important;
    }
}