@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

hr {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

label {
    margin-bottom: 0px;

    &[for="business"] {
        margin-right: 4px;
    }
    &[for="status"] {
        margin-right: 51px;
    }
    &[for="number"] {
        margin-right: 4px;
    }
    &[for="net"] {
        margin-right: 6px;
    }

    &[for="periodStart"] {
        margin-right: 4px;
    }
    &[for="order"] {
        margin-right: 13px;
    }
    &[for="value"] {
        margin-right: 32px;
    }

    &[for="delivery"] {
        margin-right: 4px;
    }
    &[for="det-value"] {
        margin-right: 4px;
    }
    &[for="cuit"] {
        margin-right: 22px;
    }
}

input[type="date"] {
    width: 20%;
    min-width: 120px;
}

#number, #net {
    width: 120px;
    text-align: right;
}

#period-type {
    width: 55%;
    min-width: 110px;
    max-width: 150px;
}
#order {
    width: 20%;
    min-width: 110px;
    max-width: 150px;
}

/* Using SCSS variables to store breakpoints */
$breakpoint-large-screen: 1100px;
@media (max-width: $breakpoint-large-screen) {
    .buttons-responsive {
        position: relative;
        bottom: 0px;
        right: 0px;
    }
}

.col-sm .d-flex,
.col-sm-2 .d-flex,
.col-sm-3 .d-flex,
.col-sm-4 .d-flex,
.col-sm-8 .d-flex,
.col-sm-5 .d-flex,
.col-xl-4 .d-flex {
    align-items: center;
}