@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
    font-weight: 500;
}

.btn {
    width: 100px;
}


@media (min-width: 900px) {
    #activeCompanies,
    #usersGroup,
    #userName {
        width: 40%;
        min-width: 270px;
    }
}