@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
}

#full-table .btn {
    width: initial;
    &:first-child {
        margin-right: 2px;
    }
    i {
        margin-right: 2px;
    }
}

table {
    width: 100%;
    background: #FFFFFF;
    border: solid 1px;
    border-top-style: solid;
    border-top-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #babfc7;
}

table thead {
    font-weight: 700;
    color: var(--bs-blue-dark);
    background: #F8F8F8;
    border-bottom: solid 1px;
    border-bottom-color: #babfc7;
}

table th {
    font-size: 12px;
    padding: 0.5rem 0.375rem;
    &:first-child {
        width: 84%;
    }
    &:last-child {
        width: 16%;
        text-align: right;
    }
}

table td {
    font-size: 12px;
    color: var(--bs-blue-dark);
    border: 0.4px solid #D5D5D5;
    padding: 0.1rem 0.375rem;
    &:last-child {
        text-align: right;
    }
}

#full-table tbody > tr {
    border-bottom: .1px solid #EEEEE4;
}

#full-table tbody > tr:hover {
    background-color: #E8F4FE;
}

#full-table tbody > tr:last-child {
    border-bottom: 1px solid #BABFC7;
}