@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
    margin-right: 4px;
    &[for="status"] {
        margin-right: 50px;
    }
    &[for="coin"] {
        margin-right: 40px;
    }
    &[for="periodStart"] {
        margin-right: 15px;
    }
    &[for="customer"] {
        margin-right: 20px;
    }
    &[for="include-notes"] {
        margin-right: 18px;
    }
}

.dropdown-menu {
    min-width: 8rem !important;
}

.dropdown-item {
    padding: 0.25rem 0.4rem;
}