@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

.ag-header-cell-text {
    font-size: 10px !important;
}

.text-center * {
    justify-content: center !important;
}

.a-ag-table {
    color: black;
    &:hover {
        color: #60C1DD;
    }
}

label {
    margin-bottom: 0px;
    &[for="business"] {
        margin-right: 6px;
    }
    &[for="customer-groups"] {
        margin-right: 3px;
    }
    &[for="orden-by"] {
        margin-right: 18px;
    }
    &[for="periodStart"] {
        margin-right: 3px;
    }
    &[for="status"] {
        margin-right: 10px;
    }
    &[for="exclude-balances"] {
        margin-right: 4px;
    }
    &[for="customer-type"] {
        margin-right: 3px;
    }
    &[for="debt-collector"] {
        margin-right: 18px;
    }
}