@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
    &[for="customer"] {
        margin-right: 4px;
    }
    &[for="report-type"] {
        margin-right: 20px;
    }
    &[for="entry"] {
        margin-right: 9px;
    }
    &[for="periodStart"] {
        margin-right: 20px;
    }
    &[for="product"] {
        margin-right: 11px;
    }
    &[for="supplier"] {
        margin-right: 4px;
    }
    &[for="voucher"] {
        margin-right: 4px;
    }
    &[for="subsidiary"] {
        margin-right: 39px;
    }
    &[for="sale-line"] {
        margin-right: 19px;
    }
}

/* Using SCSS variables to store breakpoints */
$breakpoint-large-screen: 1100px;
@media (max-width: $breakpoint-large-screen) {
    .buttons-responsive {
        position: relative;
        bottom: 0px;
        right: 0px;
    }
}