@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

.wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}

.ag-header-cell-text {
    font-size: 10px !important;
}

.ag-cell {
    font-size: 10px !important;
}

.ag-cell a {
    font-size: 10px !important;
}

.ag-cell span {        
    font-size: 10px !important;
}

.ag-cell span b {
    font-size: 10px !important;
}

.wrapper {
    padding-top: 0px;
    padding-bottom: 0px;
}

h6 {
    font-size: 12px;
    font-weight: 400;
}

label {
    margin-bottom: 0px;
    &[for="business"] {
        margin-right: 10px;
    }
    &[for="sale-point"] {
        margin-right: 4px;
    }
    &[for="activity-iva"] {
        margin-right: 4px;
    }
    &[for="periodStart"] {
        margin-right: 12px;
    }
    &[for="subsidiary"] {
        margin-right: 4px;
    }
    &[for="subsidiary-minor"] {
        margin-right: 4px;
    }
    &[for="provinces"] {
        margin-right: 4px;
    }
    &[for="origins"] {
        margin-right: 12px;
    }
}

#sale-point {
    width: 60px;
    margin-right: 20px;
}