@import "../../scss/custom-variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
  --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
  margin-bottom: 0px;
  margin-right: 4px;
}

p {
  margin-bottom: 0px;
}

button {
  width: 122px;
}

.btn-warning:hover {
  color: white;
}

#result-account {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
}

#form {
  width: 90%;
}

.select2-container .select2-choice {
  display: block !important;
  height: 36px !important;
  white-space: nowrap !important;
  line-height: 26px !important;
}

// input {
//   margin: 0 auto;
//   margin-bottom: 2px;
//   max-width: 600px;
// }

.form-middle > div {
  &:nth-child(1) {
    height: 35px;
  }
  &:nth-child(2) {
    height: max-content;
  }
}