@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
    margin-right: 4px;
    &[for="business"] {
        margin-right: 27px;
    }
    &[for="coin"] {
        margin-right: 64px;
    }
    &[for="account"] {
        margin-right: 8px;
    }
    &[for="detail"] {
        margin-right: 9px;
    }
}

.col-xl .d-flex {
    align-items: center;
}

#ref-number {
    width: 80px;
}

/* Using SCSS variables to store breakpoints */
// @media only screen and (max-width: 1024px) and (min-width: 1000px)  {
//     #coin {
//         width: 50%;
//     }
// }
