@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
    &[for="entry"] {
        margin-right: 26px;
    }
    &[for="sellers"] {
        margin-right: 4px;
    }
    &[for="periodStart"] {
        margin-right: 30px;
    }
    &[for="line-sales"] {
        margin-right: 7px;
    }
    &[for="customer-type"] {
        margin-right: 4px;
    }
    &[for="documents"] {
        margin-right: 4px;
    }
    &[for="subsidiary"] {
        margin-right: 31px;
    }
    &[for="price"] {
        margin-right: 26px;
    }
    &[for="include-proformas"] {
        margin-right: 4px;
    }
}