@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

label {
    margin-bottom: 0px;
    &[for="voucher"] {
        margin-right: 4px;
    }
    &[for="customers"] {
        margin-right: 13px;
    }
    &[for="business"] {
        margin-right: 4px;
    }
    &[for="periodStart"] {
        margin-right: 59px;
    }
    &[for="number-docs"] {
        margin-right: 14px;
    }
    &[for="client-group"] {
        margin-right: 4px;
    }
    &[for="number-seats"] {
        margin-right: 32px;
    }
    &[for="sale-point"] {
        margin-right: 4px;
    }
    &[for="letter"] {
        margin-right: 4px;
    }
}

/* Using SCSS variables to store breakpoints */
$breakpoint-large-screen: 1400px;
@media (min-width: $breakpoint-large-screen) {
    .w-xl-65 {
        width: 65% !important;
    }
}

$breakpoint-extra-large-screen: 2000px;
@media (min-width: $breakpoint-extra-large-screen) {
    .w-xxxl-55 {
        width: 55% !important;
    }
}

select,
input[type="text"] {
    min-width: 120px;
    max-width: 290px;
}

input[type="date"] {
    min-width: 90px;
    max-width: 142px;
}

#sale-point {
    min-width: initial;
    max-width: initial;
    width: 50px;
}

#letter {
    min-width: initial;
    max-width: initial;
    width: 40px;
}