@import "../../scss/custom-variables";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main.scss";

label {
    font-weight: 500;
    margin-bottom: 0px;
}

.boxes {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.form-control {
    width: 84%;
}

.index-full {
    align-items: center;
    display: flex;
    width: 84%;
    input {
        padding: 0px 0px;
        padding-right: 22px;
        width: 15%;
    }
    select {
        width: 15%;
    }
}

.index-indication {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.sale-line-full {
    width: 84%;
}

.sale-line-control {
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 0;
    text-align: left;
}