@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
  --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

.col-3 .d-flex {
  align-items: center;
}

label {
  margin-bottom: 0px;
  margin-right: 4px;
  &[for="value-x"] {
    margin-right: 32px;
  }
  &[for="condition"] {
    margin-right: 25px;
  }
}

table {
  width: 100%;
  background: #FFFFFF;
  border: solid 1px;
  border-top-style: solid;
  border-top-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
  border-color: #babfc7;
}

table thead {
  font-weight: 700;
  color: var(--bs-blue-dark);
  background: #F8F8F8;
  border-bottom: solid 1px;
  border-bottom-color: #babfc7;
}

table td input[type="checkbox"] {
  float: left;
  margin: 0 auto;
  width: 100%;
}

input[type="checkbox"] {
  margin-top: 0px;
}

#full-table th {
  font-size: 12px;
  padding: 0.5rem 0.375rem;
  &:first-child {
    width: 60%;
  }
  &:nth-child(2) {
    width: 20%;
  }
  &:last-child {
    width: 20%;
    text-align: right;
  }
}

#full-table td {
  font-size: 12px;
  color: var(--bs-blue-dark);
  border-bottom: 0.4px solid #D5D5D5;
  padding: 0.1rem 0.375rem;
  &:last-child {
    text-align: right;
  }
}

#full-table tr:hover {
  background-color: #E8F4FE;
}

.table-button {
  min-width: 4ch;
  padding: 0.25em 0.75em;
  margin-left: 4px;
}

.btn-warning:hover {
  color: white;
}