@import "../../scss/custom-variables";
@import "../../scss/loader";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import "../../node_modules/bootstrap/scss/bootstrap";
:root {
    --font-family-sans-serif: "Poppins", sans-serif;
}
@import "../../scss/main";

.ag-header-cell-text {
    font-size: 10px !important;
}

.ag-cell {
    font-size: 10px !important;
}

.ag-cell a {
    font-size: 10px !important;
}

.ag-cell span {        
    font-size: 10px !important;
}

.ag-cell span b {    
    font-size: 10px !important;
}

label {
    margin-bottom: 0px;
    &[for="voucher"] {
        margin-right: 16px;
    }
    &[for="supplier"] {
        margin-right: 4px;
    }
    &[for="number-seats"] {
        margin-right: 4px;
    }
    &[for="periodStart"] {
        margin-right: 22px;
    }
    &[for="sale-point"] {
        margin-right: 4px;
    }
    &[for="business"] {
        margin-right: 14px;
    }
    &[for="doc-number"] {
        margin-right: 6px;
    }
}

#sale-point {
    width: 60px;
}